body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 12, 40);
}

#todo-app {
    background-color: rgb(193, 252, 236);
    height: 100vh;
    /* position: absolute; */
}

#top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
}

#header {
    color: white;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 12, 40);
    margin-top: 0;
    padding: 20px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    height: 100%;
}

.text {
    margin-top: 130px;
    text-align: center;
    font-size: 20px;
}

.add-task {
    display: relative;
    background-color: white;
    z-index: 6;
}

form {
    display: relative;
}

.input-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /* position: sticky; */
    border: none;
}

input {
    border: 3px solid rgb(15, 12, 40);
    padding: 8px 0;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 15px;
    
}

input:focus {
    outline: none;
}

.btn {
    padding: 8px 12px;
    color: white;
    background-color: rgb(15, 12, 40);
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transform: opacity 1.15ms;
}

.btn:hover {
    opacity: 0.8;
}


label {
    display: inline;
}

#taskList {
    list-style: none;
    margin: 1rem;
    padding-left: 20px;
    font-size: 1.5rem;
    vertical-align: center;
    /* width: 100%; */
}
